
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex; */
  height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
}

/* img {
  display: block;
  max-width: 100%;
}

button,
select,
input,
textarea {
  font: inherit;
}
a {
  color: inherit;
}  */